
<div id="error">
  <section id="error__block">
    <aside id="error__block__header">
      <h1>{{ error }} {{ code }}</h1>
    </aside>
    <div id="error__block__message">
      {{message}}
    </div>
    <aside id="error__block__body">
      <button
      hx-get="/"
      hx-target="#template_pages"
      hx-swap="outerHTML"
      hx-push-url="true"
      hx-trigger="click">
      TRY AGAIN
    </button>
    <button
      hx-get="/"
      hx-target="#template_pages"
      hx-swap="outerHTML"
      hx-push-url="true"
      hx-trigger="click">
      HOME
    </button>
    </aside>
  </section>
  
</div>

