  {% for (i,card) in content.iter().enumerate() %}
  <div class="card">
    <div class="card__header">
      <h4>{{ i + 1 }}</h4>
      <img src="/static/rand_images/{{i}}" alt="card image">      
      <h2>{{ card.get_title() }}</h2>
      <h3>Author: {{card.get_author()}}</h3>
    </div>
    <div class="card__text" id="card__{{i}}">
      <p>
        {{ card.get_body() }}
      </p>
      <h3>
	<time>{{ card.get_date() }}</time>
      </h3>
    </div>      
    <div
      class="card__buttons"
      >
      <button
	hx-post="/v1/edit_submission"
	hx-target="#main__info_cards"
	hx-swap="outerHTML"
	hx-vals='{
		 "title": "{{card.get_title()}}",
		 "body": "{{ card.get_body().trim_end() }}",
		 "author": "{{ card.get_author() }}",
		 "user_id": "{{ card.get_user_id() }}",
		 "_id": "{{ card.get_post_id() }}"
		 }'
	type="button"
	>DETAILS
      </button>
    </div>
  </div>
  {% endfor %}

  <div id="upload_response" style="grid-column: 1 / -1"></div>
