<aside id="player">
  <aside id="player__current_play">
    <img src="/static/icon-192" alt="player icon">
    <h5>The Daily Curious</h5>
    <section id="player__current_play__like">
      <h4>The Hidden Patterns of Everyday Life</h4>
      <span>❤️</span>
      <span id="player__current_play__like__dots">▫️▫️▫️</span>
    </section>
    <h6>Episode 27</h6>
  </aside>
  <aside id="player__controls">
    <a href="#" id="rewind">⏳</a>
    <a href="#" id="reset">🔙</a>
    <a href="#" id="play">🎬</a>
    <a href="#" id="skip">➡️</a>
    <a href="#" id="fast-forward">⌛</a>
  </aside>
  <aside id="player__timeline">
    <h5>15:30</h5>
    <span> ━━━━━━━ </span>
    <h5>30:45</h5>
  </aside>
  <div id="player__speed">
    <span>1x</span>
  </div>
  <div id="player__fingerprint">
    🔊
  </div>
</aside>
