<aside id="sidebar">
  <a
    id="icon-1"
    hx-get="/"
    hx-target="body"
    hx-swap="outerHTML transition: true"   
    ><span>HOME</span>
  </a>
  <a
    id="icon-2"
    hx-get="/discover"
    hx-target="#main"
    hx-swap="innerHTML transition:true"
    ><span>DISCOVER</span>
  </a>
  <a
    id="icon-3"
    hx-get="/podcasts"
    hx-target="#main"
    hx-swap="innerHTML transition:true"
    ><span>PODCASTS</span>
  </a>
  <a
    id="icon-4"
    hx-get="/episodes"
    hx-target="#main"
    hx-swap="innerHTML transition:true"
    ><span>EPISODES</span>
  </a>
  <a
    id="icon-5"
    hx-get="/queue"
    hx-target="#main"
    hx-swap="innerHTML transition:true"
    ><span>QUEUE</span>
  </a>
  <a
    id="icon-6"
    hx-get="/history"
    hx-target="#main"
    hx-swap="innerHTML transition:true"
    ><span>HISTORY</span>
  </a>
  <a
    id="icon-7"
    hx-get="/playlist"
    hx-target="#main"
    hx-swap="innerHTML transition:true"
    ><span>PLAYLIST</span>
  </a>
  <a
    id="icon-8"
    hx-get="/profile"
    hx-target="#main"
    hx-swap="innerHTML transition:true"
    ><span>PROFILE</span>
  </a>  
</aside>
