#template__header__home {
    grid-column: 1;
    cursor: pointer;
    place-self: start;
    align-self: center;
    
    img {
	border-radius: var(--radius-lg);
	object-fit: cover;
	max-height: 45px;
	max-width: 45px;	
    }
}

#template__header__logo {
    grid-column: 2;
    place-self: end;
    align-self: center;
}
