
#template__header__top {
    a {
	cursor: pointer;
    }
    img {
	border-radius: var(--radius-sm);
	object-fit: cover;
	max-height: 29px;
	max-width: 29px;
    }
}

#template__header__logo {
    color: grey;
}
