#player {
	// 5 members
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0.25rem 1rem;
	min-height: calc(var(--player-height) - 20px);
	// font-size: 3rem;

	&__current_play {

		// 4 members
		img {
			border-radius: 50%;
			object-fit: cover;
			max-height: 19px;
			max-width: 19px;
		}

		h5,
		h6,
		h4 {
			color: var(--text-secondary);
		}

		&__like {
			// 3 members
			display: flex;
			justify-content: space-evenly;
			gap: 2rem;

			&__dots {
				transform: rotate(90deg);
				font-size: .51rem;
			}
		}
	}

	&__controls {

		display: flex;
		align-items: center;
		gap: 2rem;

		#rewind,
		#reset,
		#skip,
		#fast-forward {
			font-size: 1.7rem;
		}

		#play {
			font-size: 4rem;
		}

		a {
			cursor: pointer;
		}
	}

	&__player {
		// background-color: purple;
		color: blue;
		place-self: center;
	}

	&__timeline {
		// animate a timeline
		/* Define the animation name and duration */
		animation-name: fadeIn;
		animation-duration: 2s;

		/* Repeat indefinitely */
		animation-iteration-count: infinite;

		/* Optional: Loop direction (alternate, reverse, normal) */
		animation-direction: alternate;

		/* Optional: Timing function for smoother transitions */
		animation-timing-function: ease-in-out;
	}

	&__speed {
		span {
			font-size: large;
		}
	}

	&__fingerprint {
		background-color: black;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}

	}
}
