@use "sass:list";

#sidebar {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(min(100%, 35px), 1fr));
	// flex-direction: column;
	// align-items: flex-start;
	// justify-content: space-around;
	gap: 2rem;
	place-self: center;
	$sidebar_icons: "🏘️", // Home 1
		"🛫", // Discover 2
		"🗺️", // Podcasts 3
		"📺", // Episodes 4
		"📬", // Queue 5
		"📜", // History 6
		"📑", // Playlist 7
		"⛺"; // Profile 8

	@each $emoji in $sidebar_icons {
		$index: list.index($sidebar_icons, $emoji);

		#icon-#{$index} {

			// Using the psuedo-element to insert the emoji
			// font-size: 0.2em;
			&::before {
				content: $emoji;
				font-size: 1.6rem;
				padding-right: 2rem;
				line-height: 2;
				// margin-right: 5px; // Optional spacing
			}
		}
	}

	a {
		font-weight: 300;
		color: var(--text-muted);
		cursor: pointer;
		min-width: 100%;
		border-radius: 10px;
		transition: all 450ms ease;
		padding: 0 0.5em;
		

		span {
			padding: 1em;
		}

		&:hover {
			// border-left: 1px var(--border) double;
			background-image: linear-gradient(to right, black 0%, var(--teal-600) 20%, black 100%);
			color: var(--teal-400);
			// font-weight: 600;
			border: 1px var(--border) solid;


		}


	}
}
