<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A Rust-powered personal journaling application">
    <meta property="og:type" content="website">
    <meta property="og:title" content={{ title }}>
    <meta property="og:description" content="A Rust-powered personal journaling application">
    <meta property="og:url" content="https://podcasters.com/">
    <meta property="og:image" content="https://podcasters.com/static/link-preview">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">
    <meta property="og:image:alt" content="Modern podcasts listening application for all platforms">
    <link rel="manifest" href="/static/manifest.webmanifest">
    <meta name="theme-color" content="#1f2937">
    <link rel="apple-touch-icon" href="/static/icon-192">
    <link rel="icon" href="/static/icon-192" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet">
    <script  type="text/javascript" defer src="/static/htmx"></script>
    <script  type="text/javascript" defer src="/static/response-targets" defer></script>
    <script  type="text/javascript" defer src="/static/sse"></script>
    <script  type="text/javascript" defer src="/static/action_script" defer></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <aside id="template__sidebar">
      {% include "components/sidebar.html" %}
    </aside>
    <header id="template__header">
      {% include "components/header.html" %}
    </header>
    <main id="template__pages">
      {% block contents %}
      {% endblock %}
    </main>
    <div id="error_template" hidden>
      <h2>ERROR</h2>
      {% block error_contents %}
      {% endblock %}
    </div>
    <footer id="template__footer">
      {% include "components/player.html" %}
    </footer>
  </body>
</html>
