{% extends "base.html" %} {% block title %} {{ title }} {{ version  }} {% endblock %} {% block head %} {% endblock %} {% block individual_page_contents %}
<div id="main">
  <section id="main__paths">
    {% if is_logged_in %}    
    <div hx-ext="response-targets">
      <button
	onclick="window.location.href='https://christerpher.com'"
	>
        ABOUT
      </button>
      <button
        hx-get="/v1/create_post"
        hx-target="#main__info_cards"
        hx-swap="outerHTML"
        hx-trigger="click"
        hx-target-error="#any_error">
        CREATE POST
      </button>
      <div id="any_error"></div>
      {% endif %}
    </div>
  </section>
  <section id="main__info_cards">    
    {% if is_logged_in %}    
    {% include "parts/posts.part.html" %}
    {% endif %}
  </section>
</div>


{% call super() %} {% endblock %}
