{% extends "base.html" %} {% block title %} {{ title }} {% endblock %} {% block head %} {% endblock %} {% block individual_page_contents %}
<section id="register">
  <h1>REGISTRATION</h1>
  <div id="register__center">
    <form
      id="user_register"
      hx-post="/v1/register_user"
      hx-target="body"
      hx-swap="outerHTML"
      hx-on::after-request="if(event.detail.xhr.responseURL.includes('error')) { htmx.trigger('#email', 'keyup')} else { htmx.trigger('#success', 'click') }">
      <label for="email">EMAIL:</label>
      <div hx-ext="response-targets">
      <input
	type="text"
	id="email"
	name="email_input"
	required
	autocomplete="on"
	placeholder="Email"
	hx-trigger="blur changed delay:500ms"
	hx-get="/v1/validate_email"
	hx-target="#register__response"
	>
      <div id="email-feedback"></div>
      </div>
      
      <label for="password_input">PASSWORD:</label>
      <input
	type="password"
	id="register__center__auth"
	name="password_input"
	autocomplete="on"
	placeholder="PASSWORD"
	value="6ACIJRVbWqTE52"
	required>
      
      <label for="password_2_input">PASSWORD:</label>
      <input
	type="password"
	id="register__center__auth_2"
	name="password_2_input"
	autocomplete="on"
	placeholder="PASSWORD_AGAIN"
	value="6ACIJRVbWqTE52"
	required>
      <button type="submit">SUBMIT</button>
    </form>
  </div>
  <div id="register__response" style="color: black;">
    <h4>Server Response</h4>
    <div>
      {% for (i, data) in content.iter().enumerate() %}
      {{i}} -> {{ data }}
      {% endfor %}
    </div>
  </div>
</section>

{% call super() %} {% endblock %}

